form{
  margin-top: 35px;
}
.form-pagewrap{
    padding: 40px 100px 16px  100px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .form-title{
    color: $clr-denim;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 11px;
  }
  .form-instruct{
    color: $clr-9699AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
  }


  .fieldgroup 
  {
    .input-heading{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }
    label{
      color: $clr-denim;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }
  input{
    border-radius: 8px;
    border: 1px solid $clr-9699AA;
    background:#fff;
    width: 100%;
    padding:12px 16px;
    transition: $trans-fast;

    color:$clr-denim;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.25%;

    &::placeholder{
      color:$clr-9699AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.25%;

    }
    &::-moz-placeholder{
      color:$clr-9699AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.25%;

    }
    &::-webkit-input-placeholder{
      color:$clr-9699AA;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 156.25%;
  }


  &:hover,&:focus-visible{
    border: 1px solid $clr-483EFF;
    outline: none;
  }

  &.errorinput{
    border:1px solid $clr-red;
  }

  }

  &:not(:last-child){
    margin-bottom: 24px;
  }


 
}

.steps-buttons{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn{
  border-radius: 8px;
  font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
transition: $trans-fast;
cursor: pointer;

  &.steps-next{
    background-color: $clr-denim;
    color: #fff;
    padding: 14px 25px;
    margin-left: auto;
    &:hover{
      background-color: $clr-164A8A;
    }
  }
  
  &.steps-prev{
    background-color: transparent;
    color: $clr-9699AA;

    &:hover{
      color:$clr-denim;
    }
  }
}

.plan-opt{
  display: flex;
  gap:18px;

    .opt{
        flex: 1;
        border-radius: 8px;
        border: 1px solid $clr-D6D9E6;
        background: #fff;
        position: relative;
        min-height: 160px;
        padding:20px 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: $trans-fast;
        cursor: pointer;

        input[type="radio"]{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        img{
          width: 40px;
          height: 40px;
          flex-shrink: 0;
        }
       .opt-title{
        color:$clr-denim;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 7px;
       } 
       .opt-price{
        color: $clr-9699AA;
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
       }


       &:has(input[type="radio"]:checked){
        border: 1px solid $clr-483EFF;
        background:$clr-F8F9FF;
       }
  }
}
.switch{
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap:25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding:13px 0;
  background-color: $clr-F8F9FF;
  border-radius: 8px;
  color: $clr-9699AA;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;

div{
  transition: $trans-fast;
}

}
.toggleBox{
  width: 38px;
  height: 20px;
  background-color: $clr-denim;
  border-radius: 999px;
  position: relative;
 

  &::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 999px;
    transition: $trans-fast;
  }
  input[type="checkbox"]{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
  } 

  &:has(input[type="checkbox"]:checked)::after {
    left: calc(100% - 15px);
  }
}

.switch .active{
  color: $clr-denim;
  font-weight: 700;
}

.yearly-bonus{
  transition: $trans-fast;
  color: $clr-denim;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-height: 0;
  overflow: hidden;
  display: block;

  &.active{
    margin-top: 7px;
    max-height: 50px;
  }
}


.addons-card{
  border-radius: 8px;
border: 1px solid $clr-D6D9E6;
background: #fff;
padding: 18px 24px;
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: space-between;
position: relative;


&:has(.check-item:checked){
  border: 1px solid $clr-483EFF;
}
}


.check-item{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card-checkbox{
  display: flex;
  align-items: center;
  gap:24px;
}
.card-title{
  color: $clr-denim;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-info{
  color:$clr-9699AA;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.card-price{
  color: $clr-483EFF;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.checkBox-wrap{
  width: 20px;
  height: 20px;
  border: 1px solid $clr-D6D9E6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;

  &::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height:100%;
    background: url(../assets/images/check.svg);
    background-size: cover;
    background-position: center;
    transform: scale(0);
    transition: $trans-fast;
  }
}

.addons-card:has(.check-item:checked) .checkBox-wrap::after{
  transform: scale(1);
}
.addons-card:not(:last-child){
  margin-bottom: 16px;
}

.list-wrapper{
  border-radius: 8px;
  background-color: $clr-F8F9FF;
  padding: 16px 24px 24px 16px;
}

.list-wrapper{
  list-style-type: none;

  .list-item{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    &:not(:last-child){
      margin-bottom: 16px;
    }

    &.plan{
      padding-bottom: 24px;
      border-bottom: 1px solid rgba(150, 153, 170, 0.2043);
    }
  }
}

.list-title{
  color: $clr-denim;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 7px;
}
.list-price{
  color: $clr-denim;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.change-btn{
  color:$clr-9699AA;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
transition: $trans-fast;
cursor: pointer;

&:hover{
  color: $clr-483EFF;
}
}

.sublist-title{
  color: $clr-9699AA;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.sublist-price{
  color: $clr-denim;
text-align: right;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  
}
.total-am{
  color: $clr-483EFF;
text-align: right;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 100% */
}
.forms-group{
  flex: 1;
}

.page-thankyou{
  height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      margin-bottom: 32px;
    }
    .form-title{
      margin-bottom: 14px;
    }
    .form-instruct{
      text-align: center;
    }
}

.error-text{
  color: $clr-red;
text-align: right;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: none;
}