.side-bar{
    border-radius: 10px;
    width: 274px;
    height: 568px;
    flex-shrink: 0;
    background-color: $clr-483EFF;
    background-image: url(../assets/images/bg-sidebar-desktop.svg);
    background-position: bottom;
    padding: 40px 32px;    
  }


.sidebar-steps{
  display: flex;
  gap:16px;

  &:not(:last-child){
    margin-bottom: 32px;
  }

    .sidebar-steps_number{
      width: 33px;
      height: 33px;
      flex-shrink: 0;
      border:1px solid white;
      border-radius: 999px;
      padding: 5px 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $clr-denim;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #FFF;

      &.active{
          background-color: $clr-BEE2FD;
          color:$clr-denim;
      }
    }

    .sidebar-steps_title{
      color: $clr-ABBCFF;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    .sidebar-steps_info{
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-transform: uppercase;
    }
}